@font-face { font-family: 'HelveticaLTStd';
src: url('../fonts/Helvetica.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family:"Raleway";
src:url("../fonts/Raleway-Thin.eot?") format("eot"),

url("../fonts/Raleway-Thin.ttf") format("truetype"),
url("../fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
font-weight:normal;
font-style:normal;}	


@font-face {
    font-family: 'segoe_uiregular';
    src: url('../fonts/segoeui-webfont.eot');
    src: url('../fonts/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/segoeui-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'segoe_uibold';
    src: url('../fonts/segoeuib-webfont.eot');
    src: url('../fonts/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/segoeuib-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
#panelbutton{padding: 36px;
float: right;
}
.fondo{background-color: #fff;height: 100%;min-height: 100%;position: relative;}
.tittle-article{font-family:'segoe_uibold' }
.left p{font-family: 'segoe_uiregular';font-size: 0.9em;}
html{width: 100%;height: 100%;display: block;margin: 0;border: 0;background-color: #f0f0f0;padding:0;outline:0;font-size:100%;vertical-align:baseline;}
body{margin: 0;padding: 0;color: #465a64;font-family: Raleway,arial;background-color: #f0f0f0;width: 100%;height: 100%;position: relative;}
.large-footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;
	-webkit-transition: height 0.2s linear; 
    -moz-transition: height 0.2s linear; 
    -ms-transition: height 0.2s linear; 
    -o-transition: height 0.2s linear; 
    transition: height 0.2s linear;   }
.small-footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 20px;
	-webkit-transition: height 0.2s linear; 
    -moz-transition: height 0.2s linear; 
    -ms-transition: height 0.2s linear; 
    -o-transition: height 0.2s linear; 
    transition: height 0.2s linear; }
/* Smartphones (portrait and landscape) --------960px--- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
body{width: 100%;}
.menuPosition{display: block;float: left;height: 37px;vertical-align: middle;text-align: center;padding: 0 5px;text-decoration: none;cursor: pointer;}
.menuPosition a{height: 37px;display: block;line-height: 37px;color: #fff;text-decoration: none;font-family: arial;font-size: 15px;font-style: normal;word-wrap: break-word;padding: 0 6px;}
.menuPosition a:hover{background-color: #f0f0f0;color: #324146;}
header{}
#menu{margin: 0 auto;}
#menu ul{margin: 0;padding: 0;}
#menuWrapper{width: 80%;/* margin-right: 4px; *//* margin-left: 4px; */height: 37px;margin: 0 auto;}
#firstpanel{display: block;background-color: #314048;color: #fff;height: 37px;position: relative;overflow: hidden;}
.container{width: 100%;}   
.containerLogo{width: 10%;float: left;height: 100%;margin-left: 2%}
#zone{margin-left: auto;margin-right: auto;height: 37px;}
/*Segundo Menu*/
.logo{width: 80px;border-radius: 50%;/*border-bottom: solid rgba(42, 38, 38, 0.29) 4px;*/margin: 6px 0;}
#menu2{margin: 0 auto; height: 92px;}
#menu2 ul{margin: 0;padding: 0; height: 92px;}
#menuWrapper2{float: left;display: inline;height: 92px;width: 70%;}
#secondpanel{height: 94px;position: relative;top: auto;z-index: 900;background: transparent url(../images/border-header.png) repeat-x bottom;width: 100%;}
#zone2{margin: 0 auto;height: 92px;}
.menuPosition2{display: inline;list-style: none;float: left;height: 92px;}
.menuPosition2 a{padding: 0 10px;font-size: 1em;color: #00a1d5;text-decoration: none;font-family: Raleway,arial;font-style: normal;display: table-cell;vertical-align: middle;height: 92px;cursor: pointer;}
/*.menuPosition2 a:hover{background-color: #f0f0f0;color: #324146;}*/
.menuPosition2 a:hover{background-color: #f1f0ee;}

/*wrapper*/
#wrapper{margin: 0 auto;height: auto;}
.grid{width: 100%;margin: 10px auto;}
.grid ul li{list-style: none;}
.cell1{float: left;overflow: hidden;position: relative;margin-left: 6px;margin-right: 3px;list-style: none;}
.cell1 img{
	width: 100%;height: 200px;
}
.cell2{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;width: 98%;list-style: none;}
.cell2 article{color: #fff !important;
background-color: #66c6e7;height: 371px;}
.cell2 article:hover{background-color: #40b8e1;}
.cell2 img{width: 100%;}
.cell2 a{text-decoration: none;color: #fff;}
.cell2 header{min-height: 58px;
width: 100%;}
.cuadro h3{margin-left: 58px;
padding-bottom: 0;
padding: 20px 12px 0 20px;
word-wrap: break-word;}
#cont-text{padding: 12px 20px 0;word-wrap:break-word;}
.cell3{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 98%;}
.cell3 img{width: 100%;}
.cell3 a{text-decoration: none;color: #fff;}
.cell3 article{color: #fff !important;
background-color: #00a0d7;height: 390px;}
.cell3 article:hover{background-color: #40b8e1;}
.cell4{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 98%;}
.cell4 img{width: 100%;}
.cell4 a{text-decoration: none;color: #fff;}
.cell4 article{color: #fff !important;
background-color: #66c6e7;height: 390px;}
.cell4 article:hover{background-color: #0080ac;}
.cell5{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 98%;}
.cell5 img{width: 100%;}
.cell5 a{text-decoration: none;color: #fff;}
.cell5 article{color: #fff !important;
background-color: #0080ac;height: 390px;}
.cell5 article:hover{background-color: #00a0d7;}
.ico-1{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 0;background-color: rgba(0,0,0,0.18);}
.ico-2{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -115px;background-color: rgba(0,0,0,0.18);}
.ico-3{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -230px;background-color: rgba(0,0,0,0.18);}
.ico-4{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -350px;background-color: rgba(0,0,0,0.18);}
/*footer ticker*/
footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;}
.triangulo{
border-width: 20px 20px 0;
border-color: #fff transparent;
border-style: solid;
width: 0;
height: 0;
margin-top: -15px;
margin-left: 20px;

}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
.menuPosition{display: block;float: left;height: 37px;vertical-align: middle;text-align: center;padding: 0 5px;text-decoration: none;cursor: pointer;}
.menuPosition a{height: 37px;display: block;line-height: 37px;color: #fff;text-decoration: none;font-family: arial;font-size: 15px;font-style: normal;word-wrap: break-word;padding: 0 6px;}
.menuPosition a:hover{background-color: #f0f0f0;color: #324146;}
header{}
#menu{margin: 0 auto;}
#menu ul{margin: 0;padding: 0;}
#menuWrapper{width: 80%;/* margin-right: 4px; *//* margin-left: 4px; */height: 37px;margin: 0 auto;}
#firstpanel{display: block;background-color: #314048;color: #fff;height: 37px;position: relative;overflow: hidden;}
.container{width: 100%;}   
.containerLogo{width: 10%;float: left;height: 100%;margin-left: 2%}
#zone{margin-left: auto;margin-right: auto;height: 37px;}
/*Segundo Menu*/
.logo{width: 90%;border-radius: 50%;/*border-bottom: solid rgba(42, 38, 38, 0.29) 4px;*/margin: 6px 0;}
#menu2{margin: 0 auto; height: 92px;}
#menu2 ul{margin: 0;padding: 0; height: 92px;}
#menuWrapper2{float: left;display: inline;height: 92px;width: 70%;}
#secondpanel{height: 94px;position: relative;top: auto;z-index: 900;background: transparent url(../images/border-header.png) repeat-x bottom;width: 100%;}
#zone2{margin: 0 auto;height: 92px;}
.menuPosition2{display: inline;list-style: none;float: left;height: 92px;}
.menuPosition2 a{padding: 0 10px;font-size: 1em;color: #00a1d5;text-decoration: none;font-family: Raleway,arial;font-style: normal;display: table-cell;vertical-align: middle;height: 92px;cursor: pointer;}
/*.menuPosition2 a:hover{background-color: #f0f0f0;color: #324146;}*/
.menuPosition2 a:hover{background-color: #f1f0ee;}

/*wrapper*/
#wrapper{margin: 0 auto;height: auto;}

/*footer ticker*/
footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;}
.triangulo{
border-width: 20px 20px 0;
border-color: #fff transparent;
border-style: solid;
width: 0;
height: 0;
margin-top: -15px;
margin-left: 25%;

}

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

.menuPosition{display: block;float: left;height: 37px;vertical-align: middle;text-align: center;padding: 0 5px;text-decoration: none;cursor: pointer;}
.menuPosition a{height: 37px;display: block;line-height: 37px;color: #fff;text-decoration: none;font-family: arial;font-size: 15px;font-style: normal;word-wrap: break-word;padding: 0 6px;}
.menuPosition a:hover{background-color: #f0f0f0;color: #324146;}
header{}
#menu{margin: 0 auto;}
#menu ul{margin: 0;padding: 0;}
#menuWrapper{width: 80%;/* margin-right: 4px; *//* margin-left: 4px; */height: 37px;margin: 0 auto;}
#firstpanel{display: block;background-color: #314048;color: #fff;height: 37px;position: relative;overflow: hidden;}
.container{width: 100%;}   
.containerLogo{width: 10%;float: left;height: 100%;margin-left: 2%}
#zone{margin-left: auto;margin-right: auto;height: 37px;}
/*Segundo Menu*/
.logo{width: 90%;border-radius: 50%;/*border-bottom: solid rgba(42, 38, 38, 0.29) 4px;*/margin: 6px 0;}
#menu2{margin: 0 auto; height: 92px;}
#menu2 ul{margin: 0;padding: 0; height: 92px;}
#menuWrapper2{float: left;display: inline;height: 92px;width: 80%;}
#secondpanel{height: 94px;position: relative;top: auto;z-index: 900;background: transparent url(../images/border-header.png) repeat-x bottom;width: 100%;}
#zone2{margin: 0 auto;height: 92px;}
.menuPosition2{display: inline;list-style: none;float: left;height: 92px;}
.menuPosition2 a{padding: 0 8px;font-size: 1em;color: #00a1d5;text-decoration: none;font-family: Raleway,arial;font-style: normal;display: table-cell;vertical-align: middle;height: 92px;cursor: pointer;}
/*.menuPosition2 a:hover{background-color: #f0f0f0;color: #324146;}*/
.menuPosition2 a:hover{background-color: #f1f0ee;}

/*wrapper*/
#wrapper{margin: 0 auto;height: auto;}
.grid{width: 768px;margin: 50px auto;}
.grid ul li{list-style: none;}
.cell1{float: left;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;}
.cell1 img{
	width: 492px;height: 371px;
}
.cell2{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;width: 240px;list-style: none;}
.cell2 article{color: #fff !important;
background-color: #66c6e7;height: 371px;}
.cell2 article:hover{background-color: #40b8e1;}
.cell2 img{width: 100%;}
.cell2 a{text-decoration: none;color: #fff;}
.cell2 header{min-height: 58px;
width: 100%;}
.cuadro h3{margin-left: 58px;
padding-bottom: 0;
padding: 20px 12px 0 20px;
word-wrap: break-word;}
#cont-text{padding: 12px 20px 0;word-wrap:break-word;}
.cell3{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell3 img{width: 100%;}
.cell3 a{text-decoration: none;color: #fff;}
.cell3 article{color: #fff !important;
background-color: #00a0d7;height: 390px;}
.cell3 article:hover{background-color: #40b8e1;}
.cell4{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell4 img{width: 100%;}
.cell4 a{text-decoration: none;color: #fff;}
.cell4 article{color: #fff !important;
background-color: #66c6e7;height: 390px;}
.cell4 article:hover{background-color: #0080ac;}
.cell5{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell5 img{width: 100%;}
.cell5 a{text-decoration: none;color: #fff;}
.cell5 article{color: #fff !important;
background-color: #0080ac;height: 390px;}
.cell5 article:hover{background-color: #00a0d7;}
.ico-1{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 0;background-color: rgba(0,0,0,0.18);}
.ico-2{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -115px;background-color: rgba(0,0,0,0.18);}
.ico-3{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -230px;background-color: rgba(0,0,0,0.18);}
.ico-4{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -350px;background-color: rgba(0,0,0,0.18);}
/*footer ticker*/
footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;}
.triangulo{
border-width: 20px 20px 0;
border-color: #fff transparent;
border-style: solid;
width: 0;
height: 0;
margin-top: -15px;
margin-left: 25%;

}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
.menuPosition{display: block;float: left;height: 37px;vertical-align: middle;text-align: center;padding: 0 5px;text-decoration: none;cursor: pointer;}
.menuPosition a{height: 37px;display: block;line-height: 37px;color: #fff;text-decoration: none;font-family: arial;font-size: 15px;font-style: normal;word-wrap: break-word;padding: 0 6px;}
.menuPosition a:hover{background-color: #f0f0f0;color: #324146;}
header{}
#menu{margin: 0 auto;}
#menu ul{margin: 0;padding: 0;}
#menuWrapper{width: 80%;/* margin-right: 4px; *//* margin-left: 4px; */height: 37px;margin: 0 auto;}
#firstpanel{display: block;background-color: #314048;color: #fff;height: 37px;position: relative;overflow: hidden;}
.container{width: 100%;}   
.containerLogo{width: 10%;float: left;height: 100%;margin-left: 2%;margin-right: 2%;}
#zone{margin-left: auto;margin-right: auto;height: 37px;}
/*Segundo Menu*/
.logo{width: 117%;border-radius: 50%;/*border-bottom: solid rgba(42, 38, 38, 0.29) 4px;*/margin: 6px 0;}
#menu2{margin: 0 auto; height: 92px;}
#menu2 ul{margin: 0;padding: 0; height: 92px;}
#menuWrapper2{float: left;display: inline;height: 92px;width: 70%;}
#secondpanel{height: 94px;position: relative;top: auto;z-index: 900;background: transparent url(../images/border-header.png) repeat-x bottom;width: 100%;}
#zone2{margin: 0 auto;height: 92px;}
.menuPosition2{display: inline;list-style: none;float: left;height: 92px;}
.menuPosition2 a{padding: 0 9px;font-size: 1em;color: #00a1d5;text-decoration: none;font-family: Raleway,arial;font-style: normal;display: table-cell;vertical-align: middle;height: 92px;cursor: pointer;width: 10px;}
/*.menuPosition2 a:hover{background-color: #f0f0f0;color: #324146;}*/
.menuPosition2 a:hover{background-color: #f1f0ee;}

/*wrapper*/
#wrapper{margin: 0 auto;height: auto;}
.grid{width: 768px;margin: 50px auto;}
.grid ul li{list-style: none;}
.cell1{float: left;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;}
.cell1 img{
	width: 492px;height: 371px;
}
.cell2{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;width: 244px;list-style: none;}
.cell2 article{color: #fff !important;
background-color: #66c6e7;height: 371px;}
.cell2 img{width: 100%;}
.cell2 article:hover{background-color: #40b8e1;}
.cell2 a{text-decoration: none;color: #fff;}
.cell2 header{min-height: 58px;
width: 100%;}
.cuadro h3{margin-left: 58px;
padding-bottom: 0;
padding: 20px 12px 0 20px;
word-wrap: break-word;}
#cont-text{padding: 12px 20px 0;word-wrap:break-word;}.cell3{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell3 img{width: 100%;}
.cell3 a{text-decoration: none;color: #fff;}
.cell3 article{color: #fff !important;
background-color: #00a0d7;height: 390px;}
.cell3 article:hover{background-color: #40b8e1;}
.cell4{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell4 img{width: 100%;}
.cell4 a{text-decoration: none;color: #fff;}
.cell4 article{color: #fff !important;
background-color: #66c6e7;height: 390px;}
.cell4 article:hover{background-color: #0080ac;}
.cell5{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 240px;}
.cell5 img{width: 100%;}
.cell5 a{text-decoration: none;color: #fff;}
.cell5 article{color: #fff !important;
background-color: #0080ac;height: 390px;}
.cell5 article:hover{background-color: #00a0d7;}
.ico-1{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 0;background-color: rgba(0,0,0,0.18);}
.ico-2{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -115px;background-color: rgba(0,0,0,0.18);}
.ico-3{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -230px;background-color: rgba(0,0,0,0.18);}
.ico-4{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -350px;background-color: rgba(0,0,0,0.18);}

/*footer ticker*/
footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;}
.triangulo{
border-width: 20px 20px 0;
border-color: #fff transparent;
border-style: solid;
width: 0;
height: 0;
margin-top: -15px;
margin-left: 25%;

}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
.menuPosition{display: block;float: left;height: 37px;vertical-align: middle;text-align: center;padding: 0 5px;text-decoration: none;cursor: pointer;}
.menuPosition a{height: 37px;display: block;line-height: 37px;color: #fff;text-decoration: none;font-family: arial;font-size: 15px;font-style: normal;word-wrap: break-word;padding: 0 6px;}
.menuPosition a:hover{background-color: #f0f0f0;color: #324146;}
header{}
#menu{margin: 0 auto;}
#menu ul{margin: 0;padding: 0;}
#menuWrapper{width: 80%;/* margin-right: 4px; *//* margin-left: 4px; */height: 37px;margin: 0 auto;}
#firstpanel{display: block;background-color: #314048;color: #fff;height: 37px;position: relative;overflow: hidden;}
.container{width: 100%;}   
.containerLogo{width: 100px;float: left;height: 100%;margin-left: 2%;margin-right: 2px;}
#zone{margin-left: auto;margin-right: auto;height: 37px;}
/*Segundo Menu*/
.logo{width: 90px;border-radius: 50%;/*border-bottom: solid rgba(42, 38, 38, 0.29) 4px;*/margin: 6px 0;}
#menu2{margin: 0 auto; height: 92px;}
#menu2 ul{margin: 0;padding: 0; height: 92px;}
#menuWrapper2{float: left;display: inline;height: 92px;width: 80%;}
#secondpanel{height: 94px;position: relative;top: auto;z-index: 900;background: transparent url(../images/border-header.png) repeat-x bottom;width: 100%;}
#zone2{margin: 0 auto;height: 92px;}
.menuPosition2{display: inline;list-style: none;float: left;height: 92px;}
.menuPosition2 a{padding: 0 10px;font-size: 1em;color: #00a1d5;text-decoration: none;font-family: Raleway,arial;font-style: normal;display: table-cell;vertical-align: middle;height: 92px;cursor: pointer;}
/*.menuPosition2 a:hover{background-color: #f0f0f0;color: #324146;}*/
.menuPosition2 a:hover{background-color: #f1f0ee;}

/*wrapper*/
#wrapper{margin: 0 auto;height: 100%;margin-bottom: 100px;}
.grid{width: 1008px;margin: 50px auto;}
.grid ul li{list-style: none;}
.cuadro{margin-top: -5px;}
.cuadro header{margin-bottom: 10px;}
.cell1{float: left;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;}
.cell1 img{width: 660px;height: 380px;}
.cell2{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;width: 324px;list-style: none;}
.cell2 article{color: #fff !important;
background-color: #66c6e7;height: 380px;}
.cell2 article:hover{background-color: #40b8e1;}
.cell2 img{width: 100%;}
.cell2 a{text-decoration: none;color: #fff;}
.cell2 header{min-height: 58px;
width: 100%;}
.cuadro h3{text-align: center;
padding-bottom: 0;
padding: 20px 12px 0 20px;
word-wrap: break-word;}
#cont-text{padding: 12px 20px 0;word-wrap:break-word;}
.cell3{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 324px;}
.cell3 img{width: 100%;}
.cell3 a{text-decoration: none;color: #fff;}
.cell3 article{color: #fff !important;
background-color: #00a0d7;height: 380px;}
.cell3 article:hover{background-color: #40b8e1;}
.cell4{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 324px;}
.cell4 img{width: 100%;}
.cell4 a{text-decoration: none;color: #fff;}
.cell4 article{color: #fff !important;
background-color: #66c6e7;height: 380px;}
.cell4 article:hover{background-color: #0080ac;}
.cell5{float: left;margin-bottom: 12px;overflow: hidden;position: relative;margin-left: 6px;margin-right: 6px;list-style: none;width: 324px;}
.cell5 img{width: 100%;}
.cell5 a{text-decoration: none;color: #fff;}
.cell5 article{color: #fff !important;
background-color: #0080ac;height: 380px;}
.cell5 article:hover{background-color: #00a0d7;}
.ico-1{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 0;background-color: rgba(0,0,0,0.18);}
.ico-2{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -115px;background-color: rgba(0,0,0,0.18);}
.ico-3{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -230px;background-color: rgba(0,0,0,0.18);}
.ico-4{width: 58px;height: 58px;float: left;margin: 0;background-image: url(../images/icons.png);background-repeat: no-repeat;background-position: 0 -350px;background-color: rgba(0,0,0,0.18);}
/*footer ticker*/
/*footer{background: #0f4155;color: #fff;width: 100%;display: block;position: fixed;bottom: 0;z-index: 1000;height: 50px;}*/
.left{width: 700px;text-align: justify;margin: 20px 20px;}
.left img{width: 100%;margin: 15px 0px;}
.left h1{font-size: 2.3em;padding-top: 10px;}
.triangulo{
border-width: 20px 20px 0;
border-color: #fff transparent;
border-style: solid;
width: 0;
height: 0;
margin-top: -15px;
margin-left: 25%;

}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */

}
@media only screen and (min-width : 767px;) {
/* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}